@font-face {
    -fx-font-family: Minecraftia;
    src: url('/minecraftia.ttf');
}

.mc-button {
    -fx-font-family: Minecraftia;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-background-image: url('/ui/button_normal.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.mc-button:hover {
    -fx-background-image: url('/ui/button_hovered.png');
}

.mc-text-field {
    -fx-background-color: black;
    -fx-border-color: #B3B1AD;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-font-family: Minecraftia;
    -fx-font-size: 16;
    -fx-text-fill: #F2F2F4;
    -fx-prompt-text-fill: rgba(242, 242, 244, 0.5);
}

.mc-label {
    -fx-font-family: Minecraftia;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.mc-control-group .mc-label {
    -fx-text-fill: #A09E99;
}
