@font-face {
    font-family: Minecraft;
    src: url('/minecraft.ttf');
}

.mc-button {
    -fx-font-family: Minecraft;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-background-image: url('button_normal.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.mc-button:hover {
    -fx-background-image: url('button_pressed.png');
}

.root {
    -fx-background-image: url('background.png');
    -fx-background-position: center;
}

.title-wrapper {
    -fx-padding: 0 0 200px 0;
}
