.root {
    -fx-background-image: url('dirt_background.png');
    -fx-background-position: center;
}

.screen-label, .save-location-group {
    -fx-padding: 0 0 50px 0;
}

.seed-group {
    -fx-padding: 0 0 30px 0;
}
